@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Prata&family=Montserrat:wght@400;600&display=swap');

/*Globals*/
body{
  --light-green: #D4D6D2;
  --dark-green: #6C7069;
  --rose:#E8E3E3;
  --slate:#3D3D45;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
.column{
  flex-direction: column;
}
.mb-0{
  margin-bottom:0px;
}
.text-center{
  text-align: center;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.twoPanel{
  display: flex;
  width:100%;
}
.bg-light-green{
  background: var(--light-green);
}
.bg-pink{
  background: var(--rose);
}
button{
  width:200px;
  height:50px;
  background-color: transparent;
  border: 2px solid black;
  text-transform: uppercase;
  font-family: 'montserrat';
  font-size:18px;
}
button:hover{
  background:black;
  color:white;
  cursor: pointer;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Prata', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Prata', serif, Segoe UI;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 24px;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #3D3D45;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family:'Alegreya', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 36px;
  line-height: 1.1;
}
h5{
  font-family: 'Montserrat';
  font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
}
a{
  color:black;
}
p{
  font-family:'montserrat', sans-serif;
  font-size:18px;
}
.ital{
  font-style: italic;
}
.serrat{
  font-family: 'montserrat';
}
.bold{
  font-weight: 600;
}
/*header and footer*/
header{
  display: flex;
  justify-content: space-between;
  font-family: 'montserrat';
  padding:60px 5vw 30px;
}
header a{
  text-decoration: none;
}
header .headerDesktop{
  width:1000px;
  display: flex;
  justify-content: space-evenly;
}
header .headerMobile{
  flex-direction: column;
  justify-content: start;
  display: none;
}
.mobileNav{
  padding:10px 0px;
}
header .headerMobile .linkUnderlineWrapper{
  margin:20px 0px;
}
.logo{
  width:80px;
}
.activeLink{
  border-bottom:2px solid black;
  transition:all .5s ease-out;
}
.hamburgerButton{
width:50px;
height:50px;
border-radius:4px;
border:1px solid var(--rose);
display: flex;
justify-content: center;
align-items: center;
}
.hamburgerButton:hover{
  cursor: pointer;
}
#hamburger{
  width:30px;
  height:30px;
  margin-bottom: 0px;
}
footer{
  background:#3D3D45;
  color:white;
  font-family:'prata';
  margin-bottom:0px;
  padding:30px 10vw;
}
footer a{
  color:white;
}
.footerContent{
  display: flex;
  justify-content: space-between;
  max-width:1250px;
}

/*link animation*/
.linkUnderlineWrapper:hover{
    cursor: pointer;
}
.linkUnderlineWrapper:hover .linkUnderline:before,  .linkUnderlineWrapper:hover .linkUnderline:after{
  width: 100%;
  opacity: 1;
}
.linkUnderline{
  transition: all 0.2s ease-in-out;
  position: relative;
}
.linkUnderline:before, .linkUnderline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  left: 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.8s;
  opacity: 0;
  background-color: black;
}

/*homepage*/
.homepageSplit{
  justify-content: space-between;
}
.homepageLHS{
  width:40%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.homepageRHS{
  width:60%;
  max-width: 900px;
  padding-top:50px;
}
.homepageRHS h2{
  font-size: 18px;
line-height: 33px;
font-weight:400;
justify-self: center;
align-self: center;
}
.homepageRHS a{
  color:#3D3D45;
}
.homepageRHS a:hover{
  color:#86868c;
}
.lawyersPanel{
  margin: auto;
  text-align: center;
  padding:100px 10px;
}
.homepageBusinessCard{
padding:40px;
}
.homepageBusinessCard .twoPanel {
  padding:20px 0px;
  justify-content: space-around;
}
.homepageBusinessCard .twoPanel li{
font-size:22px;
}
.verticalSeperator{
  border-left:2px solid #3D3D45;
  height:100px;
}
.homepageBusinessCard button{
  width:100%;
  background: #3D3D45;
  border:none;
  height:45px;
  color:white;
  font-family: 'prata';
  font-size:14px;
}
.homepageBusinessCard button:hover{
  background: transparent;
  color:#3d3d45;
  border:2px solid #3d3d45;
}
#homepagePhoto{
background-image: url(../images/homepageHeadshot.jpg);
background-size: cover;
background-position: 25% bottom;
height:500px;
image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;
}
#homepagePhoto2{
  background-image: url(../images/homepageSkyline.jpg);
  height:260px;
  background-size: cover;
  position: relative;
  bottom:0px;
  }
.colA {
  width:40%;
}
.colB{
  width:60%;
  margin-top:50px;
 display: flex;
 justify-content: flex-end;
}
.colBTop{
  padding:80px;
    margin: auto;
}
.colBTop p{
  font-size:14px;
}
.colA{background-color:var(--rose);}
.colB{background-color: var(--light-green);}

/*content pages*/
.headerSection{
  height:200px;
  display: flex;
}
.headerSection h1{
  display: inline-block;
  align-self: flex-end;
}
.textSection {
  line-height: 170%;
  padding:40px;
}
.tb-pad-increase{
  padding-top:100px;
  padding-bottom:100px;
}
.headerSection, .textSection{
  padding-left:10vw;
  padding-right:10vw;
}
.labourTextbox{
  max-width:900px;
}
.indentLeft{
  margin-left:125px;
  max-width: 1000px;
}
.aboutContent{
  justify-content: space-between;
  max-width: 1400px;
}
.aboutBulletSection{
  padding-top:100px;
}
.aboutBulletContent{
  padding-bottom:60px;
}
.aboutWrapper{
  padding-right:0vw;
}
.aboutTextbox{
  max-width:600px;
}
#aboutPicture{
  height:600px;
  width:400px;
  position: relative;
  bottom:80px;
}
.quoteblock{
  background: var(--dark-green);
  color:white;
  max-width: 1000px;
  position: relative;
}
.quoteblock p{
  font-size: 22px;
  padding:100px;
  font-family: 'Prata';
  line-height: 144.1%;
}
.familyBg{
  height:700px;
  display: flex;
  align-items:center;
  background-image: url(../images/family.jpg);
  background-size: cover;
  background-position: 60% 60%;
}
.leftQuote, .rightQuote{
  position: absolute;
  font-size:100px;
  margin-bottom:0px;
}
.leftQuote{
  left: 20px;
  top:20px;
}
.rightQuote{
  right: 20px;
  bottom:-50px;
}
.benefitsOfArbitration{
  list-style: disc;
  font-family: 'montserrat';
}
.myProcess {
  list-style: none;
  flex-wrap: wrap;
}
.myProcess li {
  counter-increment: nonsense;
  margin:40px 0px;
}
ol li::before {
  content: counter(nonsense) ". ";
  font-size: 30px;
  font-family: 'Prata';
}
.benefitsOfArbitration li{
  margin-left:50px;
}
.max500{
  max-width: 790px;
  margin:25px auto;
}
.infoBox{
  border:2px solid #3D3D45;
  padding:40px;
  width:100%;
  max-width: 1000px;
  background: white;
  margin:160px 20px;
}
.infoBox h2, .infoBox p{
  color:#3D3D45;
}
.infoBox a{
  text-decoration: none;
}
.gold{
  color:#b86508;
}
.workplacePad{
  padding-top:100px;
  padding-bottom: 100px;
}
/*contact form*/
.form-group{
  margin:30px 0px;
}
.form-control{
  width:100%;
  font-family: 'montserrat';
  font-size: 12px;
line-height: 15px;
padding:17px;
border:1px solid black;
}
input{
  color:black;
  font-weight: 600;
}
input:focus, button:focus, textarea:focus{
  outline: none;
}
.contactFormWrapper{
  width:525px;
  max-width:80vw;
  margin:auto;
  padding-bottom:40px;
}
::placeholder{
  color:black;
  font-weight:600;
  opacity: 1;
}
textarea{
  resize:none;
}
.disclaimer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
margin-bottom: 8px;
}
.disclaimerHeading{
  margin-bottom: 2px;
}
.iUnderstand{
  font-size:14px;
  margin-left:5px;
}
.submit{
  margin-top:10px;
}
@media only screen and (max-width: 1450px) {
  .homepageLHS{
    width:50%;
  }
  .homepageRHS{
    width:50%;
  }
  .verticalSeperator{
    margin:0px 10px;
  }
}

/*homepage breakpoint*/
@media only screen and (max-width: 1250px) {
  .homepageSplit{
    flex-direction: column;
  }
  .homepageLHS, .homepageRHS{
    width:100%;
  }
  .homepageLHS{
    margin:100px 0px;
  }
  .homepageRHS{
    max-width: 1000px;
    margin: auto;
  }
}

/*about breakpoint*/
@media only screen and (max-width: 1150px) {
  .aboutWrapper{
    padding-right: 10vw;
  }
  .aboutContent{
    flex-direction: column;
  }
  #aboutPicture{
    position: inherit;
    display: flex;
    justify-self: center;
    margin:auto;
    max-width: 80vw;
    height: auto;
  }
  .aboutTextbox{
    max-width: 100%;
  }
  .indentLeft{
    margin-left:0px;
    max-width: 100%;
  }
}
/*footer breakpoint*/
@media only screen and (max-width: 820px) {
  .footerContent{
    flex-direction: column;
    margin: auto;
    width:300px;
  }
 
  .quoteblock p{
    padding:60px;
    font-size:18px;
  }
  .quoteblock{
    margin-left:-6vw;
    width:90vw;
  }
  header .headerDesktop{
    display: none;
  }
  header .headerMobile{
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
.colA, .colB{
  width:50%;
}
.colBTop{
  padding:15px;
}


}