@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Prata&family=Montserrat:wght@400;600&display=swap');

/*Globals*/
body{
  --light-green: #D4D6D2;
  --dark-green: #6C7069;
  --rose:#E8E3E3;
  --slate:#3D3D45;
}
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
.mb-0{
  margin-bottom:0px;
}
.text-center{
  text-align: center;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.twoPanel{
  display: flex;
  width:100%;
}
.bg-light-green{
  background: var(--light-green);
}
.bg-pink{
  background: var(--rose);
}
a{
  color:black;
}
p{
  font-family:'montserrat', sans-serif;
}
.serrat{
  font-family: 'montserrat';
}
.bold{
  font-weight: 600;
}
/*header and footer*/
footer{
  background:#3D3D45;
  color:white;
  font-family:'prata';
  margin-bottom:0px;
  padding:30px 10vw;
}
/*homepage*/
.homepageLHS{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.homepageBusinessCard{
padding:40px;
}
.homepageBusinessCard .twoPanel {
  padding:20px 0px;
  justify-content: space-around;
}
.homepageBusinessCard .twoPanel li{
font-size:22px;
}
.verticalSeperator{
  border-left:2px solid #3D3D45;
  height:100px;
}
.homepageBusinessCard button{
  width:100%;
  background: #3D3D45;
  border:none;
  height:40px;
  color:white;
  font-family: 'prata';
}
/*content pages*/
.headerSection{
  height:200px;
  display: flex;
}
.headerSection h1{
  display: inline-block;
  align-self: flex-end;
}
.textSection {
  line-height: 170%;
  padding:40px;
}
.headerSection, .textSection{
  padding-left:10vw;
  padding-right:10vw;
}
.labourTextbox{
  max-width:900px;
}
.aboutTextbox{
  max-width:600px;
}
.relative-up-40{
  position: relative;
  bottom:80px;
  padding:0px 100px;
}
.quoteblock{
  background: var(--dark-green);
  color:white;
  line-height: 144.1%;
}
.quoteblock p{
  font-size: 18px;
  padding:100px;
}

/*contact form*/
.form-group{
  margin:40px 0px;
}
.form-control{
  width:100%;
}
.contactFormWrapper{
  width:525px;
  max-width:80vw;
  margin:auto;
}


/*temp*/
.b{background-color:lightblue; width:50%; height:1000px;}
header{
  display: flex;
  justify-content: space-around;
}